{% extends "index.html" %}
{% block content %}

<form method="POST">
	<table>
		<tr>
			<th>Intervalometer Settings</th>
		</tr>
		<tr>
			<td>
			<div class="alignleft">Shoot Day of Week:</div>
			<div class="alignright">
				<select multiple name="shootDays" >
					{% if piDoW == "" %}
						<option disabled selected value style="display:none"> -- choose -- </option>
					{% endif %}
					{% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
						<option value="{{day}}" {% if day in piDoW %}SELECTED{% endif %} >{{day}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Daily Start Hour:</div>
				<div class="alignright">
					<select name="startHour" >
						<option disabled selected value style="display:none"> -- choose -- </option>
						{% for hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
							<option value="{{hour}}" {% if hour == piStartHour %}SELECTED{% endif %} >{{hour}}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Daily End Hour:</div>
				<div class="alignright">
					<select name="endHour" >
						<option disabled selected value style="display:none"> -- choose -- </option>
						{% for hour in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'] %}
							<option value="{{hour}}" {% if hour == piEndHour %}SELECTED{% endif %} >{{hour}}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Interval (Minutes):</div>
				<div class="alignright">
					<select name="interval" >
						<option disabled selected value style="display:none"> -- choose -- </option>
						{% for int in ['01','02','03','04','05','06','10','12','15','20','30','60'] %}
							<option value="{{int}}" {% if int == piInterval %}SELECTED{% endif %} >{{int}}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
	</table>

	<table class="noborder">
		<tr>
			<td class="noborder">
			<div class="alignright">
				<button type="submit" >Apply</button>
			</div>
			</td>
		</tr>
	</table>
</form>
	
{% endblock %}
