
/* Start: General CSS */

body {
	font-family: "Open Sans", sans-serif;
	color: #000000;
	font-size: 14px;
}

h1 {
	text-align: center;
	font-size: 1.5em;
}

h2 {
	text-align: center;
	font-size: 1.2em;
}

table {
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	width: 30em;
}

table, td {
	border: 1px solid #444444;
	padding: 4px;
	margin-bottom: 6px;
}

th {
	border: 1px solid #444444;
	padding: 3px 4px 5px 4px;
	margin-bottom: 6px;
	background-color: #444444;
	font-size: 1.2em;
	color: #ffffff;
}

a {
	text-decoration: none;
}

.red {
	background-color: #FF0000;
}

.orange {
	background-color: #FFA500;
}

.green {
	background-color: #008000;
}

.white {
	background-color: #FFFFFF;
}

.grey {
	background-color: #DCDCDC; /* gainsboro */
}

.alignleft {
	float: left;
}


.alignright {
	float: right;
}

.centre-text {
	text-align: center;
}

button {
	width: 8em;
	height: 2.5em;
	font-size: 1em;
	border-radius: 5px;
}

.resetbutton {
	width: 4em;
	height: 1.5em;
	font-size: 1em;
	border-radius: 3px;
	margin: 0px 4px 0px 4px;
}

.hwbutton {
	width: 80%;
	display: block;
	margin: 0 auto;
}

input, select, date, time, text {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ffffff;
	border: 1px solid #444444;
	border-radius: 5px;
	padding: 4px 4px 4px 4px;
	font-size: 1em;
	box-sizing: border-box;
	width: 200px;
}

input[type=radio] {
	opacity: 0;
	position: absolute;
	cursor: pointer;
}

.grey-out {
	opacity: 0.6;
	filter: alpha(opacity = 60); /* MSIE */
}

.hidden {
	display: none;
}

.noborder {
	border-style: none;
}

.redborder {
	border: 1px solid #FF0000;
}

.redborder:focus {
	outline-color: #FF0000;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* End: General CSS */
/* ---------------------------------------------------------*/
/* Start: checkbox */

/* The loginChkbox */
.loginChkbox {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.loginChkbox input[type=checkbox] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.rememberme {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}


/* Create the checkmark/indicator (hidden when not checked) */
.rememberme:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.loginChkbox input:checked ~ .rememberme:after {
	display: block;
}

/* Style the checkmark/indicator */
.loginChkbox .rememberme:after {
	top: 3px;
	left: 6px;
	border: 3px solid #333;
	width: 5px;
	height: 10px;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* End: checkbox */
/* ---------------------------------------------------------*/
/* Start: radio button */

.radio {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 2px;
	cursor: pointer;
	font-size: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
  background-color: eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
	top: 3px;
	left: 3px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: black;
}


/* End: radio button */
/* ---------------------------------------------------------*/
/* Start: Menu */

.top-header td {
	border-style: none;
}

.hamburger {
	text-align: right;
	font-size: 2em;
	cursor: pointer;
	border-style: none;
}

.menu {
	overflow: hidden;
	background-color: #ffffff;
	top: 0;
	width: 100%;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 20%;
	width: 100%;
	text-align: center;
	margin-top: 0px;
	color: #ffffff;
}

.overlay a {
	padding: 12px;
	text-decoration: none;
	font-size: 1.5em;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}

.overlay .closebtn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 2em;
}


/* End: Menu */
/* ----------------------------------------------------------------------------------*/
/* Start: Thumbnails --*/

.thumb {
  background-color: black;
  padding: .5em;
  height: 7em;
  justify-self: start;
}

.thumbtext {
  background-color: black;
  color: white;
  padding: 1em;
  height: 2em;
  font-size: 0.8em;
  text-align: center;
  justify-self: end;
}

.view {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1px;
}

@media (min-width: 300px) {
  .view { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 600px) {
  .view { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
  .view { grid-template-columns: repeat(4, 1fr); }
}

/* End: Thumbs  */
/* ---------------------------------------------------------*/
/* Start: Environmental page graphs */
/* TY: https://alistapart.com/article/accessibledatavisualization/ */
/* TY StealthyNinja for the meter lines: https://stackoverflow.com/questions/8909888/how-would-you-design-the-html-markup-for-this/8909962#8909962 */
/* TIMELINE CHARTS */

.nopadding {
  padding: 0;
}

.metercontainer {
  position: relative;
}

.meterscale {
  position: absolute;
  font-size: 0.75em;
  width: 100%;
  height: 10em;
  top: 0;
  left: 0;
  z-index: 10;
}

.graticule {
  position: absolute;
  font-size: 0.75em;
  width: 97%;
  height: 10em;
  top: 0;
  left: 4%;
  z-index: 5;
}

.graticule span {
  position: absolute;
  background-color: white;
  font-size: 0.75em;
  padding: 0 1px;
  left: 0;
  bottom: -0.65em;
}

.vLimits {
  position: absolute;
  overflow:visible;
  /* height:9px; */
  height:0.5em;
  margin: 0;
  width: 96%;
  padding: 0;
}

.redLimit {
  border-bottom: 1px solid red;
}

.redLimit span {
  color: red;
}

.orangeLimit {
  border-bottom: 1px solid orange;
}

.orangeLimit span {
  color: orange;
}


.vLimits span {
  position: absolute;
  background-color: white;
  font-size: 0.75em;
  padding: 0 1px;
  left: 0;
  bottom: -0.65em;
}


.vScale {
  position: absolute;
  overflow:visible;
  height:0.5em;
  margin: 0;
  width: 95%;
  padding: 0;
  border-bottom: 1px dotted gray;
}

.vScale span {
  position: absolute;
  background-color: white;
  font-size: 0.75em;
  padding: 0 1px;
  left: 0;
  bottom: -0.65em;
  margin-left: 100%;
}

.timeline {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  height: 12em;
  padding: 0;
  margin-left: 4%;
  margin-right: 4%;
  background: transparent;
}

.timeline li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 3.6%;
  margin: 0 1px;
  z-index: 20;
  height: 10em;
}

.timeline li a {
  display: block;
  height: 100%;
}

.timeline li .label {
  display: block;
  position: absolute;
  bottom: -2em;
  left: 0;
  background: #fff;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

.timeline li a .count {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #AAA;
  text-indent: -9999px;
  overflow: hidden;
}

.timeline li a .negcount {
  display: block;
  position: absolute;
  bottom: -2em;
  left: 0;
  height: 0;
  width: 100%;
  background: #AAA;
  text-indent: -9999px;
  overflow: hidden;
}

.timeline li:hover {
  background: #EFEFEF;
}

.timeline li a:hover .count,
.timeline li a:hover .negcount{
  background: #2D7BB2;
}

/* End: Environmental page graphs */
/* ---------------------------------------------------------*/
/* Start: Mobile Devices */

@media screen and (max-height: 700px) {
	.overlay {overflow-y: auto;}
	.overlay .closebtn {
	top: 15px;
	right: 35px;
	}
}

@media (max-width:600px) {

	table {
		width: 100%;
	}

	input, select, date, time, text {
		width: 100%;
	}

	button {
		align: right;
	}

	.alignright {
		float: right;
		width: 50%;
	}

	.alignright button {
		float: right;
		width: calc(40% * 100vw);
	}

	.alignleft button {
		float: left;
		width: calc(40% * 100vw);
	}

	.alignleft .resetbutton {
		float: right;
		width: calc(40% * 100vw);
		padding: 0px;
	}
	
	.timeline li .label {
  		display: none;
	}

	.timeline li {
  		width: 1.0em;
	}

	.graticule {
		width: 96%;
	}
}

@media (max-width:400px) {

	.timeline {
		margin-left: 6%;
		margin-right: 6%;
		height: 10em;
	}
	
	.timeline li .label {
		display: none;
	}
	
	.vLimits {
		width: 95%;
	}
}

@media screen and (max-width: 900px) {

}
/* End: Mobile Devices */

/* The radio buttons & checkbox came from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Tooltip came from here: https://www.w3schools.com/css/css_tooltip.asp */
