{% extends "index.html" %}
{% block content %}

<table>
	<tr >
		<th>Something went wrong2</th>
	</tr>
	<tr>
		<td class="noborder">
			<div >{{ errorAt }}</div>
		</td>
	</tr>
	<tr>
		<td class="noborder">
			<div >{{ errorIs }}</div>
		</td>
	</tr>
</table>
<table class="noborder">
	<tr>
		<td class="noborder">
			<div class="alignleft">
			<button name="GoBack" id="GoBack" onclick="history.back()">Back</button>
		</td>
	</tr>
</table>

<script>
if (window.history.length == 1)
{
	document.getElementById("GoBack").disabled = true;
}
</script>

{% endblock %}
