{% extends "index.html" %}
{% block content %}

<form method="get">
	<table>
	{% if cameraModel != "" %}
		<tr>
			<th>Camera Settings</th>
		</tr>
		<tr{{ (' class="orange"' | safe) if cameraModel == "USB PTP Class Camera" }}>
			<td>
				<div class="alignleft">Camera:</div>
				<div class="alignright">{{ cameraModel }}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Lens:</div>
				<div class="alignright">{{ cameraLens }}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Camera date:</div>
				<div class="alignright">{{ cameraDate }}</div>
			</td>
		</tr>
		<tr{{ (' class="red"' | safe) if focusmode != "Manual" }}>
			<td>
				<div class="alignleft">Focus mode:</div>
				<div class="alignright">{{ focusmode }}</div>
			</td>
		</tr>
		{% if exposuremode == "Not available" %}
		<tr>
		{% elif (exposuremode != "Manual" and exposuremode != "AV" and exposuremode != "M" and exposuremode != "A") %}
		<tr class="red">
		{% else %}
		<tr>
		{% endif %}
			<td>
				<div class="alignleft">Exposure mode:</div>
				<div class="alignright">{{ exposuremode }}</div>
			</td>
		</tr>
		{% if autopoweroff == "Not available" %}
		<tr>
		{% elif autopoweroff|int == 0 or autopoweroff|int > 300 %}
		<tr class="red">
		{% elif autopoweroff|int > 60 %}
		<tr class="orange">
		{% else %}
		<tr>
		{% endif %}
			<td>
				<div class="alignleft">Auto power-off:</div>
				<div class="alignright">{{ autopoweroff }}</div>
			</td>
		</tr>
	{% else %}
		<tr class="red">
			<td>
				<div class="alignleft">Camera:</div>
				<div class="alignright">Unknown model, or no camera detected</div>
			</td>
		</tr>
		<tr>
			<td class="noborder">
				<button name="wakeCamera" type="submit" class="hwbutton" value="1">Wake the camera</button>
			</td>
		</tr>
	{% endif %}
	</table>
</form>


<form method="post" onsubmit="return userFeedback(this, event)">
	<table>
		<tr{% if imgfmtoptions|length <= 1 %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="img">Image format:</label></div>
			<div class="alignright">
				<select name="img" id="img" onchange="newSelected(this.id)">
					{% for img in imgfmtoptions %}
						<option value="{{img}}"{{ ' SELECTED' if img == imgfmtselected }}>{{img}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr id="wbRow">
			<td>
			<div class="alignleft"><label for="wb">White balance:</label></div>
			<div class="alignright">
				<select name="wb" id="wb" onchange="newSelected(this.id)">
				{% if wboptions %}
					{% for wb in wboptions %}
					<option value="{{wb}}"{{ ' SELECTED' if wb == wbselected }}>{{wb}}</option>
				{% endfor %}
				{% else %}
					<option disabled selected value="n/a" style="display:none">n/a</option>
				{% endif %}
				</select>
			</div>
			</td>
		</tr>
		<tr{% if isooptions|length <= 1 %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="iso">ISO:</label></div>
			<div class="alignright">
				<select name="iso" id="iso" onchange="newSelected(this.id)">
					{% for iso in isooptions %}
						<option value="{{iso}}"{{ ' SELECTED' if iso == isoselected }}>{{iso}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr{% if exposuremode == "S" or exposuremode == "TV" or (apoptions|length <= 1) %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="aperture">Aperture:</label></div>
			<div class="alignright">
				<select name="aperture" id="aperture" onchange="newSelected(this.id)">
					{% for aperture in apoptions %}
						<option {% if exposuremode == "S" or exposuremode == "TV" or aperture == "implicit auto"%} disabled{% endif %} value="{{aperture}}"{{ ' SELECTED' if aperture == apselected }}>{{aperture}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr{% if exposuremode == "A" or exposuremode == "AV" or (shutoptions|length <= 1) %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="shutter">Shutter speed:</label></div>
			<div class="alignright">
				<select name="shutter" id="shutter" onchange="newSelected(this.id)">
					{% for shutterspeed in shutoptions %}
						<option {% if exposuremode == "A" or exposuremode == "AV" or shutterspeed == "auto" %} disabled{% endif %} value="{{shutterspeed}}"{{ ' SELECTED' if shutterspeed == shutselected }}>{{shutterspeed}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr{% if expoptions|length <= 1 %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="exp">Exposure comp:</label></div>
			<div class="alignright">
				<select name="exp" id="exp" onchange="newSelected(this.id)">
				{% if expoptions %}
					{% for exp in expoptions %}
					<option value="{{exp}}"{{ ' SELECTED' if exp == expselected }}>{{exp}}</option>
					{% endfor %}
				{% else %}
					<option disabled selected value="n/a" style="display:none">n/a</option>
				{% endif %}
				</select>
			</div>
			</td>
		</tr>
	</table>

{% if piPreviewFile != '' %}
<table>
	<tr>
		<td>
		<a href="{{ url_for('static',filename=('preview/' + piPreviewFile )) | replace('%3F', '?') }}" target="_blank"><img src="{{ url_for('static',filename=('preview/' + piPreviewFile )) | replace('%3F', '?') }}" alt="preview image" width="100%"></a>
		</td>
	</tr>
</table>
{% endif %}

<table class="noborder">
	<tr>
		<td class="noborder">
		<div class="alignleft{% if blockPreview == 'True' or 'RAW' in imgfmtselected or 'NEF' in imgfmtselected%} tooltip{% endif %}">
			<button name="CamSubmit" id="CamPreview" type="submit" value="preview">Preview</button>
			<!-- See "capture preview" in focus-gui.py -->
{% if ("RAW" in imgfmtselected or "NEF" in imgfmtselected)  %}		<span class="tooltiptext">You cannot Preview when shooting RAW</span>{% endif %}
{% if blockPreview == "True" %}			<span class="tooltiptext">This camera does not support Preview</span>{% endif %}
		</div>
		<div class="alignright">
			<button name="CamSubmit" id="CamSubmit" type="submit" value="apply">Apply</button>
		</div>
		</td>
	</tr>
</table>
<input type="hidden" name="cameraMfr" value="{{ cameraMfr }}">
</form>

<script>
var SelectionByte = 0;
var SelectionBits = new Array();
	SelectionBits["img"]      =  1;
	SelectionBits["wb"]       =  2;
	SelectionBits["iso"]      =  4;
	SelectionBits["aperture"] =  8;
	SelectionBits["shutter"]  = 16;
	SelectionBits["exp"]      = 32;

lightButtons(); <!--  Forces a run when the form first loads -->
checkWhiteBalance();
function newSelected(id)
{
	var option = document.getElementById(id);
	if (!option.options[option.selectedIndex].defaultSelected)
	{
		SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
	}
	else
	{
		SelectionByte = SelectionByte ^ SelectionBits[id]; //XOR turns it off
	}
	lightButtons();
	if (id = "wb") checkWhiteBalance();
}
function lightButtons()
{
	if ("{{cameraDate}}" == "")
	{
		document.getElementById("CamPreview").disabled = true;
		document.getElementById("CamSubmit").disabled  = true;
	}
	else
	{
		if (SelectionByte == 0)
		{
			if ("{{blockPreview}}" == "True" || "{{imgfmtselected}}".includes("RAW") || "{{imgfmtselected}}".includes("NEF"))
			{
				document.getElementById("CamPreview").disabled = true;
			}
			else
			{
				document.getElementById("CamPreview").disabled = false;
			}
			document.getElementById("CamSubmit").disabled  = true;
		}
		else
		{
			document.getElementById("CamPreview").disabled = true;
			document.getElementById("CamSubmit").disabled  = false;
		}
	}
}
function checkWhiteBalance()
{
	var wbselected = document.getElementById("wb");
	var wbRow = document.getElementById("wbRow")
	if (wbselected.value == "Auto")
	{
		wbRow.className = "red";
	}
	else if (wbselected.value == "n/a")
	{
		wbRow.className = "grey";
	}
	else
	{
		wbRow.className = "";
	}
}

</script>

{% endblock %}
