{% extends "index.html" %}
{% block content %}

<form method="post" onsubmit="return userFeedback(this, event)">
	<table>
		<tr>
			<td>
				<div class="alignleft">Enable camera USB communication:</div>
				<div class="alignright">
					<label class="loginChkbox">
						<input type="checkbox" id="enableCameraUsb" name="enableCameraUsb" {% if enableCameraUsb == 'true' %}CHECKED {% endif %}title="Check to enable USB communication with the camera" onchange="newSelected(this.id)">
						<span class="rememberme"></span>
					</label>
				</div>
			</td>
		</tr>
		<tr id="usbWarning" class="orange">
			<td class="centre-text">
				<strong>When camera USB is disabled, the intvlm8r is only able to manage the shooting schedule</strong>
			</td>
		</tr>
	</table>

	<table id="cameraInfo">
	{% if cameraModel != "" %}
		<tr>
			<th>Camera Settings</th>
		</tr>
		<tr{{ (' class="orange"' | safe) if cameraModel == "USB PTP Class Camera" }}>
			<td>
				{% if cameraModel == "USB PTP Class Camera" %}
				<div class="alignleft tooltip">Camera:<span class="tooltiptext">Limited camera support</span></div>
				<div class="alignright tooltip">USB PTP Class Camera<span class="tooltiptext">Limited camera support</span></div>
				{% else %}
				<div class="alignleft">Camera:</div>
				<div class="alignright">{{ cameraModel }}</div>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Lens:</div>
				<div class="alignright">{{ cameraLens }}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Camera date:</div>
				<div class="alignright">{{ cameraDate }}</div>
			</td>
		</tr>
		<tr{{ (' class="red"' | safe) if focusmode != "Manual" }}>
			<td>
				<div class="alignleft">Focus mode:</div>
				<div class="alignright">{{ focusmode }}</div>
			</td>
		</tr>
		{% if exposuremode == "Not available" %}
		<tr>
		{% elif (exposuremode != "Manual" and exposuremode != "AV" and exposuremode != "M" and exposuremode != "A") %}
		<tr class="red">
		{% else %}
		<tr>
		{% endif %}
			<td>
				<div class="alignleft">Exposure mode:</div>
				<div class="alignright">{{ exposuremode }}</div>
			</td>
		</tr>
		{% if autopoweroff == "Not available" %}
		<tr>
		{% elif autopoweroff|int == 0 or autopoweroff|int > 300 %}
		<tr class="red">
		{% elif autopoweroff|int > 60 %}
		<tr class="orange">
		{% else %}
		<tr>
		{% endif %}
			<td>
				<div class="alignleft">Auto power-off:</div>
				<div class="alignright">{{ autopoweroff }}</div>
			</td>
		</tr>
	{% else %}
		<tr class="red">
			<td>
				<div class="alignleft">Camera:</div>
				<div class="alignright">Unknown model, or no camera detected</div>
			</td>
		</tr>
		<tr>
			<td class="noborder">
				<button name="wakeCamera" type="submit" class="hwbutton" value="wake">Wake the camera</button>
			</td>
		</tr>
	{% endif %}
	</table>

	<table id="imageInfo">
		<tr{% if imgfmtoptions|length <= 1 %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="img">Image format:</label></div>
			<div class="alignright">
				<select name="img" id="img" onchange="newSelected(this.id)">
					{% for img in imgfmtoptions %}
						<option value="{{img}}"{{ ' SELECTED' if img == imgfmtselected }}>{{img}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr id="wbRow">
			<td>
			<div class="alignleft"><label for="wb">White balance:</label></div>
			<div class="alignright">
				<select name="wb" id="wb" onchange="newSelected(this.id)">
				{% if wboptions %}
					{% for wb in wboptions %}
						<option value="{{wb}}"{{ ' SELECTED' if wb == wbselected }}>{{wb}}</option>
					{% endfor %}
				{% else %}
					<option disabled selected value="n/a" style="display:none">n/a</option>
				{% endif %}
				</select>
			</div>
			</td>
		</tr>
		<tr{% if isooptions|length <= 1 %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="iso">ISO:</label></div>
			<div class="alignright">
				<select name="iso" id="iso" onchange="newSelected(this.id)">
					{% for iso in isooptions %}
						<option value="{{iso}}"{{ ' SELECTED' if iso == isoselected }}>{{iso}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr{% if exposuremode == "S" or exposuremode == "TV" or (apoptions|length <= 1) %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="aperture">Aperture:</label></div>
			<div class="alignright">
				<select name="aperture" id="aperture" onchange="newSelected(this.id)">
					{% for aperture in apoptions %}
						<option {% if exposuremode == "S" or exposuremode == "TV" or aperture == "implicit auto"%} disabled{% endif %} value="{{aperture}}"{{ ' SELECTED' if aperture == apselected }}>{{aperture}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr{% if exposuremode == "A" or exposuremode == "AV" or (shutoptions|length <= 1) %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="shutter">Shutter speed:</label></div>
			<div class="alignright">
				<select name="shutter" id="shutter" onchange="newSelected(this.id)">
					{% for shutterspeed in shutoptions %}
						<option {% if exposuremode == "A" or exposuremode == "AV" or shutterspeed == "auto" %} disabled{% endif %} value="{{shutterspeed}}"{{ ' SELECTED' if shutterspeed == shutselected }}>{{shutterspeed}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr{% if expoptions|length <= 1 %} class="grey"{% endif %}>
			<td>
			<div class="alignleft"><label for="exp">Exposure comp:</label></div>
			<div class="alignright">
				<select name="exp" id="exp" onchange="newSelected(this.id)">
				{% if expoptions %}
					{% for exp in expoptions %}
						<option value="{{exp}}"{{ ' SELECTED' if exp == expselected }}>{{exp}}</option>
					{% endfor %}
				{% else %}
					<option disabled selected value="n/a" style="display:none">n/a</option>
				{% endif %}
				</select>
			</div>
			</td>
		</tr>
	</table>

{% if piPreviewFile != '' %}
<table>
	<tr>
		<td>
		<a href="{{ url_for('static',filename=('preview/' + piPreviewFile )) | replace('%3F', '?') }}" target="_blank"><img src="{{ url_for('static',filename=('preview/' + piPreviewFile )) | replace('%3F', '?') }}" alt="preview image" width="100%"></a>
		</td>
	</tr>
</table>
{% endif %}

	<table class="noborder" >
		<tr>
			<td class="noborder">
			<div class="alignleft{% if blockPreview == 'True' or 'RAW' in imgfmtselected or 'NEF' in imgfmtselected%} tooltip{% endif %}">
				<button name="camPreview" id="camPreview" type="submit" value="preview">Preview</button>
				<!-- See "capture preview" in focus-gui.py -->
	{% if ("RAW" in imgfmtselected or "NEF" in imgfmtselected)  %}		<span class="tooltiptext">You cannot Preview when shooting RAW</span>{% endif %}
	{% if blockPreview == "True" %}			<span class="tooltiptext">This camera does not support Preview</span>{% endif %}
			</div>
			<div class="alignright">
				<button name="camApply" id="camApply" type="submit" value="apply">Apply</button>
			</div>
			</td>
		</tr>
	</table>
	<!-- These are for the benefit of a POST to understand the context/previous value: -->
	<input type="hidden" name="cameraMfr" value="{{ cameraMfr }}">
	<input type="hidden" id="cameraUsbToggled" name="cameraUsbToggled" value = "false">
</form>

<script>
var SelectionByte = 0;
var SelectionBits = new Array();
	SelectionBits["img"]             =  1;
	SelectionBits["wb"]              =  2;
	SelectionBits["iso"]             =  4;
	SelectionBits["aperture"]        =  8;
	SelectionBits["shutter"]         = 16;
	SelectionBits["exp"]             = 32;
	SelectionBits["enableCameraUsb"] = 64;

var cameraInfo = document.getElementById("cameraInfo");
var imageInfo  = document.getElementById("imageInfo");
var usbWarning = document.getElementById("usbWarning");
var cameraUsbToggled  = document.getElementById("cameraUsbToggled");

// Run when the page loads:
lightButtons();
checkWhiteBalance();
showHideCamera('on_load');

function newSelected(id)
{
	var option = document.getElementById(id);
	if (id == "enableCameraUsb")
	{
		// Handles the checkbox:
		if (option.defaultChecked != option.checked)
		{
			SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
			cameraUsbToggled.value = 'true';
			showHideCamera('hide'); // Hidden always if the selection has changed from load. Remains hidden until AFTER you Apply
		}
		else
		{
			SelectionByte = SelectionByte ^ SelectionBits[id]; // XOR turns it off
			cameraUsbToggled.value = 'false';
			showHideCamera('on_load'); // Update camera status to follow the on-load value
		}
	}
	else
	{
		// else handle the drop-down lists:
		if (!option.options[option.selectedIndex].defaultSelected)
		{
			SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
		}
		else
		{
			SelectionByte = SelectionByte ^ SelectionBits[id]; // XOR turns it off
		}
	}
	lightButtons();
	if (id = "wb") checkWhiteBalance();
}

function lightButtons()
{
	if (("{{cameraDate}}" == "") && (SelectionByte != 64))
	{
		document.getElementById("camPreview").disabled = true;
		document.getElementById("camApply").disabled  = true;
	}
	else
	{
		if (SelectionByte == 0)
		{
			if ("{{blockPreview}}" == "True" || "{{imgfmtselected}}".includes("RAW") || "{{imgfmtselected}}".includes("NEF"))
			{
				document.getElementById("camPreview").disabled = true;
			}
			else
			{
				document.getElementById("camPreview").disabled = false;
			}
			document.getElementById("camApply").disabled  = true;
		}
		else
		{
			document.getElementById("camPreview").disabled = true;
			document.getElementById("camApply").disabled  = false;
		}
	}
}

function checkWhiteBalance()
{
	var wbselected = document.getElementById("wb");
	var wbRow = document.getElementById("wbRow")
	if (wbselected.value == "Auto")
	{
		wbRow.className = "red";
	}
	else if (wbselected.value == "n/a")
	{
		wbRow.className = "grey";
	}
	else
	{
		wbRow.className = "";
	}
}

// Shows/hides the camera-related tables depending on the status of enableCameraUsb
function showHideCamera(action)
{
	if (action == 'on_load')
	{
		// Reveals or hides the camera tables depending on the state of enableCameraUsb
		cameraInfo.style.display = ("{{enableCameraUsb}}" == "false") ? "none":"";
		imageInfo.style.display  = ("{{enableCameraUsb}}" == "false") ? "none":"";
	}
	else
	{
		// Hide if the user's changed the checkbox to disable cameraUsb
		cameraInfo.style.display = "none";
		imageInfo.style.display  = "none";
	}
	// This is effectively an XOR of these two inputs, but that returns the desired outcome
	if (cameraUsbToggled.value == "{{enableCameraUsb}}")
	{
		usbWarning.classList.remove("hidden");
	}
	else
	{
		usbWarning.classList.add("hidden");
	}
}

</script>

{% endblock %}
