<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% if ((current_user.is_authenticated) and (locationName != "") and (locationName != "Intvlm8r")) %}
	<title>Intvlm8r - {{ locationName }}</title>
	{% else %}
	<title>Intvlm8r</title>
	{% endif %}
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
<header>
<div class="container">
<table class="top-header noborder">
	<tr>
		<td width="15%" ></td>
		<td ><h1>Intervalometerator</h1></td>
		<td width="15%" class="hamburger" onclick="openNav()">&#9776;</td>
	</tr>
	<tr>
		<td width="15%" ></td>
		{% if current_user.is_authenticated %}
			<td ><h2>{{ locationName }}</h2></td>
		{% else %}
			<td ><h2>&nbsp;</h2></td>
		{% endif %}
	</td>
</table>
<!-- MENU STARTS -->
<div class="menu">
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content">
			<a href="{{ url_for ('main') }}">Home</a>
			<a href="{{ url_for ('thumbnails') }}">Thumbnails</a>
			<a href="{{ url_for ('camera') }}">Camera Settings</a>
			<a href="{{ url_for ('intervalometer') }}">Intervalometer Settings</a>
			<a href="{{ url_for ('transfer') }}">Transfer Settings</a>
			<a href="{{ url_for ('thermal') }}">Thermal Settings</a>
			<a href="{{ url_for ('monitoring') }}">Remote monitoring</a>
			<a href="{{ url_for ('system') }}">System Maintenance</a>
		{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a>
		{% else %}
			<a href="{{ url_for('logout') }}">Logout {{current_user.id}}</a>
		{% endif %}
			
		</div>
	</div>

	<script>
	function openNav() {
		document.getElementById("myNav").style.height = "80%";
	}

	function closeNav() {
		document.getElementById("myNav").style.height = "0%";
	}
	</script>
</div>
<!--MENU ENDS -->
</header>
{% with messages = get_flashed_messages(with_categories=true) %}
<table id="progress">
	{% if messages %}
	<tr>
		{% if messages | length > 1 %}
		<td id="prog_td">
			<select id="prog_sel" title="Messages" >
			{% for category, message in (messages | unique) | sort(attribute=0, reverse=True) %}
				<option id="prog_opt" class="{{ 'white' if category == 'info' else category }}"{{ ' SELECTED' if loop.first == true }} value="{{ message }}" DISABLED>{{ message }}</option>
			{% endfor %}
			</select>
		</td>
		{% else %}
		{% for category, message in messages  %}
		<td class="centre-text{{ ' red' if category != 'info'}}">{{ message }}</td>
		{% endfor %}
		{% endif %}
	</tr>
	{% elif not current_user.is_anonymous %}
	<tr>
		<td class="centre-text">Background tasks idle</td>
	</tr>
	{% endif %}
</table>
{% endwith %}

{% block content %}
{% endblock %}

{% if not current_user.is_anonymous %}
	<script>
	updateMsgBackground()
	pollStatus()
	function pollStatus()
	{
		var progressTable = document.getElementById("progress");
		if (("{{g.taskstr}}" != "") && ("{{g.taskstr}}" != "None") && (progressTable != null))
		{
			var row = progressTable.rows;
			var col = row[0].cells;
			var status_url = "/backgroundStatus/{{g.taskstr}}"
			var request = new XMLHttpRequest();
			request.open('GET', status_url, true);
			request.onload = function()
			{
				if (this.status >= 200 && this.status < 400)
				{
					var data = JSON.parse(this.response);
					// update UI
					col[0].innerHTML = data['status'];
					row[0].className = "white";
					if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS')
					{
						//We're done.
						if ((data['status']).toLowerCase().includes("heartbeat"))
						{
							window.location.reload(false); //Reload the (Monitoring) page to update the Result field
						}
						else if ((data['status']).toLowerCase().includes("thumbnail images OK"))
						{
							window.location.reload(false); //Reload the (Thumbnails) page to update the Result field
						}
					}
					else
					{
						// rerun in 2 seconds
						setTimeout(function() {
							pollStatus();
						}, 2000);
					}
				}
				else
				{
					// We reached our target server, but it returned an error
					col[0].innerHTML = "The Pi returned an error"
					row[0].className = "orange";
				}
			};
			request.onerror = function()
			{
				// There was a connection error of some sort
				col[0].innerHTML = "The Pi did not respond"
				row[0].className = "orange";
			}
			request.send()
		}
	}
	
	function postUrl(url)
	{
		// send ajax POST request to start background job
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open('POST', url, true);
		xmlhttp.onload = function()
		{
			if (this.status >= 200 && this.status < 400)
			{
				//We received a positive response. Job underway. Reload this page.
				location.href = location.href;
			}
			//else
			//{
				// We reached our target server, but it returned an error
				//alert('Nope, that failed');
			//}
		};
		xmlhttp.send();
	}
		
	function userFeedback(form, event)
	{
		var progressTable = document.getElementById("progress");
		var row = progressTable.rows;
		var col = row[0].cells;
		var submitButton;

		<!-- https://stackoverflow.com/a/41918595/13102734 -->
		if (typeof event.explicitOriginalTarget != 'undefined')
		{
			submitButton = event.explicitOriginalTarget;
		}
		else if (typeof document.activeElement.value != 'undefined')
		{	// IE
			submitButton = document.activeElement;
		};

		if (submitButton.value == "preview")
		{
			col[0].innerHTML = 'Preview photo requested';
		}
		else if (submitButton.value == "Reboot")
		{
			col[0].innerHTML = 'Reboot requested';
		}
		else if (submitButton.value == "hbnow")
		{
			col[0].innerHTML = 'Initiating heartbeat';
		}
		else
		{
			col[0].innerHTML = 'Applying changed settings';
		}
		row[0].className = "white";
		return true;
	}

	function updateMsgBackground()
	{
		var message = document.getElementById('prog_sel');
		var rows = document.getElementById('progress').rows;
		rows[0].className = message[0].className;
	}

	</script>
{% endif %}
</body>
</html>
