<!DOCTYPE html>
<html lang="en">
<head>
   <title>Intvlm8r</title>
   <link rel="icon" href="/static/favicon.ico">
   <!-- Intvlm8r custom style sheet -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=1">
   <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<header>
<div class="container">
<table class="noborder">
	<tr>
		<td width="15%" class="noborder"></td>
		<td class="noborder"><h1>Intervalometerator</h1></td>
		<td width="15%" style="text-align:right; font-size:2em;cursor:pointer" onclick="openNav()" class="noborder">&#9776;</td>		
	</tr>
	<tr>
		<td width="15%" class="noborder"></td>
		{% if current_user.is_authenticated %}
			<td class="noborder"><h2>{{ locationName }}</h2></td>
		{% else %}
			<td class="noborder"><h2>&nbsp;</h2></td>
		{% endif %}
	</td>
</table>
<!-- MENU STARTS -->
<div class="menu">
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content">
			<a href="{{ url_for ('main') }}">Home</a>
			<a href="{{ url_for ('thumbnails') }}">Thumbnails</a>
			<a href="{{ url_for ('camera') }}">Camera Settings</a>
			<a href="{{ url_for ('intervalometer') }}">Intervalometer Settings</a>
			<a href="{{ url_for ('transfer') }}">Transfer Settings</a>
			<a href="{{ url_for ('thermal') }}">Thermal Settings</a>
			<a href="{{ url_for ('monitoring') }}">Remote monitoring</a>
			<a href="{{ url_for ('system') }}">System Maintenance</a>
		{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a>
		{% else %}
			<a href="{{ url_for('logout') }}">Logout {{current_user.id}}</a>
		{% endif %}
			
		</div>
	</div>

	<script>
	function openNav() {
		document.getElementById("myNav").style.height = "80%";
	}

	function closeNav() {
		document.getElementById("myNav").style.height = "0%";
	}
	</script>
</div>
<!--MENU ENDS -->
</header>
{% with messages = get_flashed_messages() %}
	<table id="progress">
	{% if current_user.is_anonymous %}
	  {% if messages %}
		<tr class="red">
			{% for message in messages %}
				<td style="text-align:center">{{ message }}</td>
			{% endfor %}
	  {% endif %}
	{% else %}
	  {% if messages %}
		<tr class="red">
			{% for message in messages %}
				<td style="text-align:center">{{ message }}</td>
			{% endfor %}
		</tr>
	  {% else %}
		<tr>
			<td style="text-align:center">Background tasks idle</td>
		</tr>
	  {% endif %}
	{% endif %}
	</table>
{% endwith %}

{% block content %}
{% endblock %}

{% if not current_user.is_anonymous %}
	<script>
	pollStatus()
	function pollStatus()
	{
		var progressTable = document.getElementById("progress");
		if (("{{g.taskstr}}" != "") && ("{{g.taskstr}}" != "None") && (progressTable != null))
		{
			var row = progressTable.rows;
			var col = row[0].cells;
			var status_url = "/backgroundStatus/{{g.taskstr}}"
			var request = new XMLHttpRequest();
			request.open('GET', status_url, true);
			request.onload = function()
			{
				if (this.status >= 200 && this.status < 400)
				{
					var data = JSON.parse(this.response);
					// update UI
					col[0].innerHTML = data['status'];
					row[0].className = "white";
					if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS')
					{
						//We're done.
					}
					else
					{
						// rerun in 2 seconds
						setTimeout(function() {
							pollStatus();
						}, 2000);
					}
				}
				else
				{
					// We reached our target server, but it returned an error
					col[0].innerHTML = "The Pi returned an error"
					row[0].className = "orange";
				}
			};
			request.onerror = function()
			{
				// There was a connection error of some sort
				col[0].innerHTML = "The Pi did not respond"
				row[0].className = "orange";
			}
			request.send()
		}
	}
	
	function userFeedback(form, event)
	{
		var progressTable = document.getElementById("progress");
		var row = progressTable.rows;
		var col = row[0].cells;
		var submitButton;

		<!-- https://stackoverflow.com/a/41918595/13102734 -->
		if (typeof event.explicitOriginalTarget != 'undefined')
		{
			submitButton = event.explicitOriginalTarget;
		}
		else if (typeof document.activeElement.value != 'undefined')
		{	// IE
			submitButton = document.activeElement;
		};

		if (submitButton.value == "preview")
		{
			col[0].innerHTML = 'Preview photo requested';
		}
		else if (submitButton.value == "Reboot")
		{
			col[0].innerHTML = 'Reboot requested';
		}
		else
		{
			col[0].innerHTML = 'Applying changed settings';
		}
		row[0].className = "white";
		return true;
	}

	</script>
{% endif %}
</body>
</html>
