{% extends "index.html" %}
{% block content %}

<form method="POST" onsubmit="return userFeedback(this, event)">
	<table>
		<tr>
			<th>Intervalometer Settings</th>
		</tr>
		<tr>
			<td>
			<div class="alignleft">Shoot day of week:</div>
			<div class="alignright">
				<select multiple name="shootDays" id="shootDays" title="Select one or more days to shoot" onchange="newDaySelected()">
					{% if piDoW == "" %}
						<option class="hidden" disabled selected> -- choose -- </option>
					{% endif %}
					{% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
						<option value="{{day}}"{% if day in piDoW %} SELECTED{% endif %}>{{day}}</option>
					{% endfor %}
				</select>
			</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Daily start hour:</div>
				<div class="alignright">
					<select name="startHour" id="startHour" title="Select the start hour each day" onchange="newSelected(this.id)">
						<option class="hidden" disabled selected> -- choose -- </option>
						{% for hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
							<option value="{{hour}}"{% if hour == piStartHour %} SELECTED{% endif %}>{{hour}}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Daily end hour:</div>
				<div class="alignright">
					<select name="endHour" id="endHour" title="Select the end hour each day" onchange="newSelected(this.id)">
						<option class="hidden" disabled selected> -- choose -- </option>
						{% for hour in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'] %}
							<option value="{{hour}}"{% if hour == piEndHour %} SELECTED{% endif %}>{{hour}}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Interval:</div>
				<div class="alignright">
					<select name="interval" id="interval" title="Select the interval between shots" onchange="newSelected(this.id)">
						<option class="hidden" disabled selected> -- choose -- </option>
						{% if shootFast is defined %}
							{% for intv in ['63','64','65','66','70','75','80','90'] %}
							<option value="{{intv}}"{% if intv == piInterval %} SELECTED{% endif %}>{{'%02d'| format((intv | int) - 60)}} s</option>
							{% endfor %}
							<option disabled>──────────</option>
						{% endif %}
						{% for int in ['01','02','03','04','05','06','10','12','15','20','30','60'] %}
							<option value="{{int}}"{% if int == piInterval %} SELECTED{% endif %}>{{int}} m</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
	</table>

	<table class="noborder">
		<tr>
			<td>
				<div class="alignleft">Shots / day:</div>
				<div class="alignright" id="shotsperday"></div>
			</td>
		</tr>
		<tr id="cameraDaysRow">
			<td>
				<div class="alignleft">Days in camera:</div>
				<div class="alignright" id="daysincamera"></div>
			</td>
		</tr>
		<tr id="piDaysRow">
			<td>
				<div class="alignleft">Days in Pi:</div>
				<div class="alignright" id="daysinpi"></div>
			</td>
		</tr>
	</table>

	<table class="noborder">
		<tr>
			<td class="noborder">
				<div class="alignright">
					<button type="submit" id="apply">Apply</button>
				</div>
			</td>
		</tr>
	</table>
</form>

<script>

var startHour    = document.getElementById("startHour");
var endHour      = document.getElementById("endHour");
var interval     = document.getElementById("interval");
var shotsperday  = document.getElementById("shotsperday")
var daysincamera = document.getElementById("daysincamera")
var daysinpi     = document.getElementById("daysinpi")

var numDaysSelected = 1;
var SelectionByte = 0;
var SelectionBits = new Array();
	SelectionBits["shootDays"] =  1;
	SelectionBits["startHour"] =  2;
	SelectionBits["endHour"]   =  4;
	SelectionBits["interval"]  =  8;

// Run when the form first loads:
lightButtons();
calculateShots()

function newSelected(id)
{
	var option = document.getElementById(id);
	if (!option.options[option.selectedIndex].defaultSelected)
	{
		SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
	}
	else
	{
		SelectionByte = SelectionByte ^ SelectionBits[id]; //XOR turns it off
	}
	lightButtons();
	calculateShots();
}

function newDaySelected()
{
	var daySelected = document.getElementById("shootDays");
	var daysChanged = false;
	numDaysSelected = 0
	for (loop = 0; loop < daySelected.options.length; loop++)
	{
		var opt = daySelected.options[loop];
		if (opt.selected) numDaysSelected++;
		daysChanged = daysChanged || (opt.selected != opt.defaultSelected);
	}
	if (daysChanged)
	{
		SelectionByte = SelectionByte | 1; // OR turns the bit on if changes were made
	}
	else
	{
		SelectionByte = SelectionByte ^ 1;
	}
	lightButtons();
}

function calculateShots()
{
	var shotsPerHour;
	var interval_value = parseInt(interval.value);
	if (interval_value > 60)
	{
		shotsPerHour = 60 * (interval_value - 60)
	}
	else
	{
		shotsPerHour = (60 / interval_value)
	}

	var result = ((parseInt(endHour.value) - parseInt(startHour.value)) * shotsPerHour);
	if (result == result) // A value that is NotANumber(NaN) != itself
	{
		// So we know the numbers are valid
		if (result < 0 ) // We need to correct for the wrap-around midnight
		{
			result = ((parseInt(endHour.value) - parseInt(startHour.value) + 24) * shotsPerHour);
		}
		shotsperday.innerHTML = result;
		calculateCameraDays(result);
		calculatePiDays(result);
		checkThresholds("cameraDaysRow", "daysincamera");
		checkThresholds("piDaysRow", "daysinpi");
	}
	else
	{
		shotsperday.innerHTML = "Unknown";
		daysincamera.innerHTML = "Unknown";
		daysinpi.innerHTML = "Unknown";
	}
}

function calculateCameraDays(_shotsperday)
{
	var availableShots = "{{ availableShots }}";
	if (availableShots != "Unknown" && availableShots != "Not available")
	{
		var result = ~~(availableShots / _shotsperday);
		if (_shotsperday == 0)
		{
			daysincamera.innerHTML = "n/a";
		}
		else if (result == result)
		{
			daysincamera.innerHTML = result;
		}
		else
		{
			daysincamera.innerHTML = "Unknown";
		}
	}
	else
	{
		daysincamera.innerHTML = "{{ availableShots }}";
	}
}

function calculatePiDays(_shotsperday)
{
	var piAvailableShots = "{{ piAvailableShots }}";
	if (piAvailableShots != "Unknown" && piAvailableShots != "Not available")
	{
		var result = ~~(piAvailableShots / _shotsperday);
		if (_shotsperday == 0)
		{
			daysinpi.innerHTML = "n/a";
		}
		else if (result == result)
		{
			daysinpi.innerHTML = result;
		}
		else
		{
			daysinpi.innerHTML = "Unknown";
		}
	}
	else
	{
		daysinpi.innerHTML = "{{ piAvailableShots }}";
	}
}

function checkThresholds(thisRow, thisValue)
{
	var rowId = document.getElementById(thisRow);
	var rowValue = document.getElementById(thisValue)
	if (rowValue.innerHTML < {{ daysFreeAlarm }})
	{
		rowId.className = "red";
	}
	else if (rowValue.innerHTML < {{ daysFreeWarn }} )
	{
		rowId.className = "orange";
	}
	else
	{
		rowId.className = "";
	}
}

function lightButtons()
{
	if ((SelectionByte == 0) || (numDaysSelected == 0))
	{
		document.getElementById("apply").disabled  = true;
	}
	else
	{
		document.getElementById("apply").disabled  = false;
	}

	// Block Apply if startHour==endHour
	if (startHour.value == endHour.value)
	{
		document.getElementById("apply").disabled  = true;
		startHour.classList.add("redborder")
		  endHour.classList.add("redborder")
	}
	else
	{
		startHour.classList.remove("redborder")
		  endHour.classList.remove("redborder")
	}
}
</script>

{% endblock %}
