{% extends "index.html" %}
{% block content %}

<table>
	<tr>
		<th>System Information</th>
	<tr>
		<td>
			<div class="alignleft">System date:</div>
			<div class="alignright" id="dateTime">{{ arduinoDate }} {{ arduinoTime }}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="alignleft">Last shot:</div>
			<div class="alignright">{{ arduinoLastShot }}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="alignleft">Next shot:</div>
			<div class="alignright">{{ arduinoNextShot }}</div>
		</td>
	</tr>
</table> 

<form method="post" onsubmit="return userFeedback(this, event)">
	<table>
		{% if fileCount != "Unknown" %}
			<tr>
				<td>
					<div class="alignleft">Images on camera:</div>
					<div class="alignright">{{ fileCount }}</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="alignleft">Last image on camera:</div>
					<div class="alignright">{{ lastImage }}</div>
				</td>
			</tr>
			{% if (cameraDaysFree != "Unknown") and (cameraDaysFree|int < daysFreeAlarm) %}
			<tr class="red">
			{% elif (cameraDaysFree != "Unknown") and (cameraDaysFree|int < daysFreeWarn) %}
			<tr class="orange">
			{% else %}
			<tr>
			{% endif %}
				<td>
					<div class="alignleft">Available shots (days):</div>
					<div class="alignright">{{ availableShots }} ({{ cameraDaysFree }})</div>
				</td>
			</tr>
			<tr {{ 'class="red"' if cameraBattery == "Low" }}>
				<td>
					<div class="alignleft">Battery:</div>
					<div class="alignright">{{ cameraBattery }}</div>
				</td>
			</tr>
		{% else %}
			<tr class="red">
				<td>
					<div class="alignleft">Camera:</div>
					<div class="alignright">Unknown model, or no camera detected</div>
				</td>
			</tr>
			<tr class="noborder">
				<td>
					<button name="wakeCamera" type="submit" class="hwbutton" value="wake">Wake the camera</button>
				</td>
			</tr>
		{% endif %}
	</table>
</form>
	
<table>
	<tr>
		<td>
			<div class="alignleft">Images on Pi:</div>
			<div class="alignright">{{ piImageCount }}</div>
		</td>
	</tr>
	<tr class="{{ 'green' if (lastImage|string() == piLastImage|string()) and (piLastImage != 'n/a') }}">
		<td>
			<div class="alignleft">Last image on Pi:</div>
			<div class="alignright">{{ piLastImage }}</div>
		</td>
	</tr>
	{% if (piDaysFree != "Unknown") and (piDaysFree|int < daysFreeAlarm) %}
	<tr class="red">
	{% elif (piDaysFree != "Unknown") and (piDaysFree|int < daysFreeWarn) %}
	<tr class="orange">
	{% else %}
	<tr>
	{% endif %}
		<td>
			<div class="alignleft">Pi storage free (days):</div>
			<div class="alignright">{{ piSpaceFree }} ({{ piDaysFree }})</div>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<div class="alignleft">Last transfer:</div>
			<div class="alignright">
				<a href="{{ lastTrnLogFile }}" target="_blank">{{ lastTrnResult }}</a>
			</div>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<a href="{{ url_for('static',filename=(piLastImageFile))}}" target="_blank"><img src="{{ url_for('static',filename=(piLastImageFile))}}" alt="last image" width="100%"></a>
		</td>
	</tr>
</table> 

{% endblock %}
