{% extends "index.html" %}
{% block content %}

<form name="setLocation" method="post" >
	<table>
		<tr>
			<th>System Maintenance</th>
		</tr>
		<tr>
			<td class="noborder">
				<div class="alignleft">Location name:</div>
				<div class="alignright">
					<input name="newName" id="newName" type="text" value="{{ locationName }}" oninput="newText(this.id)">
				</div>
			</td>
		</tr>
		<tr>	
			<td class="noborder">
				<button name="submitLocation" id="submitLocation" type="submit" class="hwbutton">Submit</button>
			</td>
		</tr>
	</table>
</form>

<form name="setThumbsCount" method="post">
	<table>
		<tr>
			<td class="noborder">
				<div class="alignleft">Thumbnail count:</div>
				<div class="alignright">
					<select name="thumbsCount" id="thumbsCount" onchange="newThumbsCount(this.id)">
						{% for count in ['24','48','96','144'] %}
							<option value="{{count}}"{% if count == piThumbCount %} SELECTED{% endif %}>{{count}}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>	
			<td class="noborder">
				<button name="submitThumbsCount" id="submitThumbsCount" type="submit" class="hwbutton">Submit</button>
			</td>
		</tr>
	</table>
</form>

<table>
	<tr>
		<td>
			<div class="alignleft">System (Arduino) date:</div>
			<div class="alignright">{{ arduinoDate }}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="alignleft">System (Arduino) time:</div>
			<div class="alignright">{{ arduinoTime }}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="alignleft">Pi model:</div>
			<div class="alignright">{{ piModel }}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="alignleft">Pi Linux version:</div>
			<div class="alignright">{{ piLinuxVer }}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="alignleft">Pi hostname:</div>
			<div class="alignright">{{ piHostname }}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="alignleft">Pi available storage:</div>
			<div class="alignright">{{ piSpaceFree }}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="alignleft">Pi uptime:</div>
			<div class="alignright">{{ piUptime }}</div>
		</td>
	</tr>
</table>


<form name="PiEnable" method="post" >
	<table>
		<tr>
			<td class="noborder">
				<div class="alignleft">Pi on at (hour):</div>
				<div class="alignright">
					<select name="wakePiTime" id="wakePiTime" onchange="newSelected(this.id)">
						<option disabled selected value style="display:none"> -- choose -- </option>
						{% for hour in ['25', '00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
							<option value="{{ hour }}"{{ ' SELECTED' if hour == wakePiTime }}>{{ 'Always On' if hour == '25' else hour }}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr id="piMinutes">
			<td class="noborder">
				<div class="alignleft">Pi on for (minutes):</div>
				<div class="alignright">
					<select name="wakePiDuration" id="wakePiDuration" onchange="newSelected(this.id)">
						<option disabled selected value style="display:none"> -- choose -- </option>
						{% for window in ['05','10','15','20','30','60'] %}
							<option value="{{window}}"{{ ' SELECTED' if window == wakePiDuration }}>{{window}}</option>"
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td class="noborder">
				<button name="wakePi" id="submitWakePi" type="submit" class="hwbutton" value="wakePi">Submit</button>
			</td>
		</tr>
	</table>
</form>

<form name="sendTime" method="post" onsubmit="return sendTimeToServer();">
	<table>
		<tr>
			<td class="noborder">
				<div class="alignleft">Current PC date/time is</div>
				<div class="alignright" id="now"></div>
			</td>
		</tr>
		<tr>
			<td class="noborder">
				<button name="SyncSystem" type="submit" class="hwbutton" value="SetPiTime">Set system time &amp; date</button>
			</td>
		</tr>
		<tr>
			<td class="noborder">
				<button name="SyncCamera" type="submit" class="hwbutton" value="SetCameraTime" DISABLED>Set camera time &amp; date</button>
			</td>
		</tr>
	</table>
</form>

<form name="reboot" method="post" >
	<table>
		<tr>
			<td class="noborder">
				<div class="alignleft">Reboot Arduino?</div>
				<div class="alignright">(Enter "{{rebootSafeWord}}")</div>
				<div class="alignright">
					<input name="rebootString" id="rebootString" type="text" value="" oninput="newRebootText(this.id)">
				</div>
			</td>
		</tr>
		<tr>
			<td class="noborder">
				{% if wakePiTime == '25' %}
				<p>If you request a reboot, the Arduino first shuts down the Pi, reboots itself, then restarts the Pi.</p>
				{% else %}
				<p>If you request a reboot, the Arduino first shuts down the Pi, reboots itself, then restarts the Pi. The Pi will then run for a further {{wakePiDuration}} minutes.</p>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td class="noborder">
				<button name="Reboot" id="submitReboot" type="submit" class="hwbutton" value="Reboot">Reboot</button>
			</td>
		</tr>
	</table>
</form>

<table class="noborder">
	<tr>
		<td class="noborder">
			<div class="alignright small">version: {{ intvlm8rVersion }}</div>
		</td>
	</tr>
</table>
<script> 

var SelectionByte = 0;
var SelectionBits = new Array();
SelectionBits["wakePiTime"]     = 1;
SelectionBits["wakePiDuration"] = 2;

// This drives the default display on load:
document.getElementById("submitLocation").disabled = true;
document.getElementById("submitThumbsCount").disabled = true;
document.getElementById("submitWakePi").disabled = true;
document.getElementById("submitReboot").disabled = true;

// This reveals or suppresses the "Pi on for (minutes)" row if piHour = "Always On"
var piHour = document.getElementById("wakePiTime");
var piMinutes = document.getElementById("piMinutes");
piMinutes.style.display = (piHour.value == "25") ? "none":"";

function update_time()
{
	var refresh=1000; // Refresh rate in milliseconds
	newtime=setTimeout('sendTimeToServer()', refresh);
}

function sendTimeToServer()
{
	var today = new Date();
	var date = today.getFullYear() + ('0' + (today.getMonth()+1)).slice(-2) + ('0' + (today.getDate())).slice(-2)
	var time = ('0' + (today.getHours())).slice(-2) + ('0' + (today.getMinutes())).slice(-2) + ('0' + (today.getSeconds())).slice(-2);
	var dateTime = date + time;
	document.forms["sendTime"]["SyncSystem"].value = dateTime;
	var options = { year: 'numeric', month: 'short', day: 'numeric', hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit'};
	document.getElementById("now").innerHTML = today.toLocaleString('en-AU', options); // Customise (or customIZE) as appropriate for your locale
	update_time();
	}

sendTimeToServer();

function newText(id)
{
	var option = document.getElementById(id);
	var button = document.getElementById("submitLocation");
	if (option.defaultValue != option.value)
	{
		button.disabled  = false;
	}
	else
	{
		button.disabled  = true;
	}
}

function newThumbsCount(id)
{
	var option = document.getElementById(id);
	if (!option.options[option.selectedIndex].defaultSelected)
	{
		document.getElementById("submitThumbsCount").disabled  = false;
	}
	else
	{
		document.getElementById("submitThumbsCount").disabled  = true;
	}
}

function newSelected(id)
{
	var option = document.getElementById(id);
	// Reveal/hide fields as appropriate:
	piMinutes.style.display = (piHour.value == "25") ? "none":"";

	if (!option.options[option.selectedIndex].defaultSelected)
	{
		SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
	}
	else
	{
		SelectionByte = SelectionByte ^ SelectionBits[id]; //XOR turns it off
	}
	lightButtons();
}
	
function newRebootText(id)
{
	var option = document.getElementById(id);
	var button = document.getElementById("submitReboot");
	if ("{{rebootSafeWord}}" == option.value)
	{
		button.disabled  = false;
	}
	else
	{
		button.disabled  = true;
	}
}
	
function lightButtons()
{
	if (SelectionByte == 0)
	{
		document.getElementById("submitWakePi").disabled  = true;
	}
	else
	{
		document.getElementById("submitWakePi").disabled  = false;
	}
}

</script>

{% endblock %}
