{% extends "index.html" %}
{% block content %}

<form method="POST" onsubmit="return userFeedback(this, event)">
	<table>
		<tr>
			<th>Thermal</th>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Units:</div>
				<div class="alignright">
					<label class="radio">&deg;C
						<input type="radio" name="thermalUnits" id="thermalC" value="Celsius" onclick="handleRadioClick();"{% if thermalUnits == "Celsius" %} checked="checked"{% endif %}>
						<span class="checkmark"></span>
					</label>
					<label class="radio">&deg;F
						<input type="radio" name="thermalUnits" id="thermalF" value="Fahrenheit" onclick="handleRadioClick();"{% if thermalUnits == "Fahrenheit" %} checked="checked"{% endif %}>
						<span class="checkmark"></span>
					</label>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Arduino temperature:</div>
				<div class="alignright" id="arduinoTemp"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Arduino min:
					<button class="resetbutton" type="submit" name="resetMin" id="resetMin">Reset</button>
				</div>
				<div class="alignright" id="arduinoMin"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Arduino max:
					<button class="resetbutton" type="submit" name="resetMax" id="resetMax">Reset</button>
				</div>
				<div class="alignright" id="arduinoMax"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Pi temperature:</div>
				<div class="alignright" id="piTemp"></div>
			</td>
		</tr>
	</table>
	
	<table>
		<tr>
			<th>Daily Temperatures</th>
		</tr>
		<tr>
			<td class="nopadding">
				<div class="metercontainer">
					<ul class="timeline">
						{% for thisHoursTemp in Temps24 %}
						<li>
							<a title="{{ thisHoursTemp['temp'] }}&deg;">
								<span class="label">{{ thisHoursTemp['hour'] }}</span>
								<span class="count" style="height: {{ '%0.2f'| format (thisHoursTemp['temp'] * 100 / 80) }}%">{{ thisHoursTemp['temp'] }}</span>
							</a>
						</li>
						{% endfor %}
					</ul>
					<div class="meterscale">
					</div>
					<div class="graticule">
						{% for i in range(-10,85,5) %}
						<div class="vScale" style="height: {{ '%0.2f'| format (100 - ((i * 100) / 80)) }}%;"><span>{{ i }}&deg;</span></div>
						{% endfor %}
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Daily maximum{% if dayTempMaxAt != '' %} (at {{ '%02d:00' % dayTempMaxAt }}){% endif %}:</div>
				<div class="alignright" >{{ dayTempMax }}&deg;</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Daily minimum{% if dayTempMinAt != '' %} (at {{ '%02d:00' % dayTempMinAt }}){% endif %}:</div>
				<div class="alignright" >{{ dayTempMin }}&deg;</div>
			</td>
		</tr>
	</table>
</form>





<script>
// Run when the form first loads:
updateValues() // This makes sure the values are recalculated correctly if F is selected

function handleRadioClick()
{
	var units = document.getElementsByName("thermalUnits");
	var val;
	for(var i = 0; i < units.length; i++){
		if(units[i].checked){
			val = units[i].value;
		}
	}
	var d = new Date();
	d.setTime(d.getTime() + (365 * 24 * 60 * 60));
	var expires = "expires="+d.toUTCString();
	document.cookie = "thermalUnits=" + val + ";" + expires + ";path=/";
	updateValues()
}

function updateValues()
{
	var thermalUnits = getCookie("thermalUnits");
	if (thermalUnits == "" || thermalUnits == null) { thermalUnits = "Celsius" }
	if (thermalUnits == 'Celsius')
	{
		document.getElementById("arduinoTemp").innerHTML = "{{ arduinoTemp }} {% if arduinoTemp != 'Unknown' %}&deg;C{% endif %}"
		document.getElementById("arduinoMin").innerHTML = "{{ arduinoMin }} {% if arduinoMin != 'Unknown' %}&deg;C{% endif %}"
		document.getElementById("arduinoMax").innerHTML = "{{ arduinoMax }} {% if arduinoMax != 'Unknown' %}&deg;C{% endif %}"
		document.getElementById("piTemp").innerHTML = "{{ piTemp }} {% if piTemp != 'Unknown' %}&deg;C{% endif %}"
	}
	else
	{
		document.getElementById("arduinoTemp").innerHTML = convertToF("{{ arduinoTemp }}")
		document.getElementById("arduinoMin").innerHTML = convertToF("{{ arduinoMin }}")
		document.getElementById("arduinoMax").innerHTML = convertToF("{{ arduinoMax }}")
		document.getElementById("piTemp").innerHTML = convertToF("{{ piTemp }}")
	}
}

function convertToF(DegreesCelsius)
{
	if (DegreesCelsius == "Unknown") { return "Unknown"; }
	return Math.round((parseInt(DegreesCelsius) * 9/5) + 32) + " &deg;F";
}

function getCookie(cname)
{
	// Thank you https://www.w3schools.com/js/js_cookies.asp
	var name = cname + "=";
	var decodedCookie = decodeURIComponent(document.cookie);
	var ca = decodedCookie.split(';');
	for(var i = 0; i <ca.length; i++)
	{
		var c = ca[i];
		while (c.charAt(0) == ' ')
		{
			c = c.substring(1);
		}
		if (c.indexOf(name) == 0) 
		{
			return c.substring(name.length, c.length);
		}
	}
	return "";
}

</script>

{% endblock %}
