{% extends "index.html" %}
{% block content %}

<div class="view">
		{% for thumbFilename in ThumbFiles %}
			<a href="{{ url_for('static',filename=('photos/' + thumbFilename['Name'])) | replace('-thumb', '')}}" target="_blank"><div class="thumb"><img src="{{ url_for('static',filename=('thumbs/' + thumbFilename['Name']))}}" alt="{{thumbFilename['Name'] | replace('-thumb', '')}}" width="160px"></div><div class="thumbtext">{{ thumbFilename['TimeStamp'] }}<br>{{ thumbFilename['Info']|safe }}</div></a>
		{% endfor %}
	</div>

{% endblock %}

