{% extends "index.html" %}
{% block content %}

<form method="post" onsubmit="return userFeedback(this, event)">
	<table>
		<tr>
			<th>Copy Settings - camera to Pi</th>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Copy day:</div>
				<div class="alignright">
					<select name="copyDay" id="copyDay" onchange="newSelected(this.id)">
					{% for day in ['Off', 'Daily', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
						<option value="{{ day }}"{% if day == copyDay %} SELECTED{% endif %}>{{ day }}</option>
					{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr id="showHideCopyHour">
			<td>
				<div class="alignleft">Copy hour:</div>
				<div class="alignright">
					<select name="copyHour" id="copyHour" onchange="newSelected(this.id)">
						{% for hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
							<option value="{{ hour }}"{% if hour == copyHour %} SELECTED{% endif %}>{{ hour }}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr id="showHideCopyHrMsg">
			<td class="noborder" id="copyHourMsg"></td>
		</tr>
		
		<tr id="showHideRenameCbx">
			<td class="noborder" >
				<div class="alignleft">Rename on copy:</div>
				<div class="alignright">
					<label class="loginChkbox">
						<input type="checkbox" id="renameOnCopy" name="renameOnCopy" {% if renameOnCopy == 'on' %}CHECKED {% endif %}onchange="updateRename(this.id)"/>
						<span class="rememberme"></span>
					</label>
				</div>
			</td>
		</tr>
		<tr name="showHideRename">
			<td class="noborder" >Create a new filename using these format strings:</td>
		</tr>
		<tr name="showHideRename">
			<td class="noborder">
				<div class="alignleft">%Y = 4-digit year</div>
				<div class="alignright">%m = month (01-12)</div>
			</td>
		</tr>
		<tr name="showHideRename">
			<td class="noborder">
				<div class="alignleft">%b = short month ('Jan')</div>
				<div class="alignright">%d = day of month (01-31)</div>
			</td>
		</tr>
		<tr name="showHideRename">
			<td class="noborder">
				<div class="alignleft">%a = short weekday ('Mon')</div>
				<div class="alignright">%H = hour (00-23)</div>
			</td>
		</tr>
		<tr name="showHideRename">
			<td class="noborder">
				<div class="alignleft">%M = minute (00-59)</div>
				<div class="alignright">%S = second (00-59)</div>
			</td>
		</tr>
		<tr name="showHideRename">
			<td class="noborder">
				<div class="alignleft">%F = original filename</div>
				<div class="alignright">
					<input name="renameString" id="renameString" type="text" value={{ renameString }} placeholder="ThisIntvlm8r-%F-%Y%m%D-%H%M" oninput="updateExample();newText(this.id)">
				</div>
			</td>
		</tr>
		<tr name="showHideRename">
			<td class="noborder">
				<div class="alignleft" id="originalFileName"></div>
				<div class="alignright" id="exampleString"></div>
			</td>
		</tr>
	</table>
	
	<table class="noborder">
		<tr>
			<td class="noborder">
				<div class="alignleft">
					<button type="button" name="copy" id="copy" onclick="postUrl('/trnCopyNow')">Copy now</button>
				</div>
			</td>
		</tr>
	</table>
	
	<table>
		<tr>
			<th>Transfer Settings - from the Pi</th>
		</tr>
		<tr id="showHideTrnMethod">
			<td>
				<div class="alignleft">Upload method:</div>
				<div class="alignright">
					<select name="tfrMethod" id="tfrMethod" onchange="newSelected(this.id)">
					{% for method in ['Off', 'FTP', 'SFTP', 'Dropbox', 'Google Drive', 'rsync'] %}
						<option value="{{ method }}"{% if method == tfrMethod %} SELECTED{% endif %} {% if method != 'FTP' and method in hiddenTransferOptions %} DISABLED{% endif %} >{{ method }}</option>"
					{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr id="showHideTrnWarning">
			<td class="noborder">Copy needs to be enabled first.</td>
		</tr>
	</table>

	<table id="ftp">
		<tr>
			<td>
				<div class="alignleft">FTP server URL:</div>
				<div class="alignright"><input type="text" name="ftpServer" id="ftpServer" value="{{ ftpServer }}" placeholder="myFtpServer.com" oninput="newText(this.id)"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Username:</div>
				<div class="alignright"><input type="text" name="ftpUser" id="ftpUser" value="{{ ftpUser }}" placeholder="ftpUsername" oninput="newText(this.id)"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Password:</div>
				<div class="alignright"><input type="password" name="ftpPassword" id="ftpPassword" value="{{ ftpPassword }}" oninput="newText(this.id)"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Remote folder:</div>
				<div class="alignright"><input type="text" name="ftpRemoteFolder" id="ftpRemoteFolder" value="{{ ftpRemoteFolder }}" placeholder="e.g. /images/" oninput="newText(this.id)"></div>
			</td>
		</tr>
	</table>

	<table id="sftp">
		<tr>
			<td>
				<div class="alignleft">SFTP server URL:</div>
				<div class="alignright"><input type="text" name="sftpServer" id="sftpServer" value="{{ sftpServer }}" placeholder="mySftpServer.com" oninput="newText(this.id)"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Username:</div>
				<div class="alignright"><input type="text" name="sftpUser" id="sftpUser" value="{{ sftpUser }}" placeholder="sftpUsername" oninput="newText(this.id)"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Password:</div>
				<div class="alignright"><input type="password" name="sftpPassword" id="sftpPassword" value="{{ sftpPassword }}" oninput="newText(this.id)"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Remote folder:</div>
				<div class="alignright"><input type="text" name="sftpRemoteFolder" id="sftpRemoteFolder" value="{{ sftpRemoteFolder }}" placeholder="e.g. /images/" oninput="newText(this.id)"></div>
			</td>
		</tr>
	</table>

	<table id="dbx">
		<tr>
			<td>
				<div class="alignleft">Token:</div>
				<div class="alignright"><input type="text" name="dbx_token" id="dbx_token" value="{{ dbx_token }}" placeholder="abcd1234-2345rtyu-etc" oninput="newText(this.id)"></div>
			</td>
		</tr>
	</table>

	<table id="google">
		<tr>
			<td>
				<div class="alignleft">Remote folder:</div>
				<div class="alignright"><input type="text" name="googleRemoteFolder" id="googleRemoteFolder" value="{{ googleRemoteFolder }}" placeholder="e.g. images" oninput="newText(this.id)"></div>
			</td>
		</tr>
	</table>

	<table id="rsync">
		<tr>
			<td>
				<div class="alignleft">Username:</div>
				<div class="alignright"><input type="text" name="rsyncUsername" id="rsyncUsername" value="{{ rsyncUsername }}" placeholder="" oninput="newText(this.id)"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Host:</div>
				<div class="alignright"><input type="text" name="rsyncHost" id="rsyncHost" value="{{ rsyncHost }}" placeholder="" oninput="newText(this.id)"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Remote folder:</div>
				<div class="alignright"><input type="text" name="rsyncRemoteFolder" id="rsyncRemoteFolder" value="{{ rsyncRemoteFolder }}" placeholder="" oninput="newText(this.id)"></div>
			</td>
		</tr>
	</table>

	<table id="transfer">
		<tr>
			<td>
				<div class="alignleft">Transfer day:</div>
				<div class="alignright">
					<select name="transferDay" id="transferDay" onchange="newSelected(this.id)">
					{% for day in ['Daily','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
						<option value="{{ day }}"{% if day == transferDay %} SELECTED{% endif %}>{{ day }}</option>
					{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr id="showHideTrnHour">
			<td>
				<div class="alignleft">Transfer hour:</div>
				<div class="alignright">
					<select name="transferHour" id="transferHour" onchange="newSelected(this.id)">
						{% for hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
							<option value="{{ hour }}"{% if hour == transferHour %} SELECTED{% endif %}>{{ hour }}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr id="showHideTrnHrMsg">
			<td class="noborder" id="transferHourMsg"></td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">
					<button type="button" name="view" id="view" onClick="openInNewTab('{{ piTransferLogLink }}');">View log</button>
				</div>
				<div class="alignright">
					<button type="submit" name="tfrClear" id="tfrClear" onclick="tfrClear()">Clear log</button>
				</div>
			</td>
		</tr>
	</table>

	<table class="noborder">
		<tr>
			<td class="noborder">
				<div class="alignleft">
					<button type="button" name="tfrTrNow" id="tfrTrNow" onclick="postUrl('/trnTrNow')">Transfer now</button>
				</div>
				<div class="alignright">
					<button type="submit" name="tfrApply" id="apply">Apply</button>
				</div>
			</td>
		</tr>
	</table>
</form>


<script>
var SelectionByte = 0;
var SelectionBits = new Array();
SelectionBits["tfrMethod"]          =       1;
SelectionBits["ftpServer"]          =       2;
SelectionBits["ftpUser"]            =       4;
SelectionBits["ftpPassword"]        =       8;
SelectionBits["ftpRemoteFolder"]    =      16;
SelectionBits["sftpServer"]         =      32;
SelectionBits["sftpUser"]           =      64;
SelectionBits["sftpPassword"]       =     128;
SelectionBits["sftpRemoteFolder"]   =     256;
SelectionBits["dbx_token"]          =     512;
SelectionBits["sftpRemoteFolder"]   =    1024;
SelectionBits["transferDay"]        =    2048;
SelectionBits["transferHour"]       =    4096;
SelectionBits["copyDay"]            =    8192;
SelectionBits["copyHour"]           =   16384;
SelectionBits["googleRemoteFolder"] =   32768;
SelectionBits["rsyncUsername"]      =   65536;
SelectionBits["rsyncHost"]          =  131072;
SelectionBits["rsyncRemoteFolder"]  =  262144;
SelectionBits["renameOnCopy"]       =  524288;
SelectionBits["renameString"]       = 1048576;


var method             = document.getElementById("tfrMethod");
var copyDay            = document.getElementById("copyDay");
var showHideCopyHour   = document.getElementById("showHideCopyHour");
var showHideTrnHour    = document.getElementById("showHideTrnHour");
var showHideCopyHrMsg  = document.getElementById("showHideCopyHrMsg");
var showHideTrnHrMsg   = document.getElementById("showHideTrnHrMsg");
var showHideTrnButton  = document.getElementById("tfrTrNow");
var renameOnCopy       = document.getElementById("renameOnCopy");
var showHideTrnWarning = document.getElementById("showHideTrnWarning");
var showHideTrnMethod  = document.getElementById("showHideTrnMethod");
var ftp                = document.getElementById("ftp");
var sftp               = document.getElementById("sftp");
var dbx                = document.getElementById("dbx");
var google             = document.getElementById("google");
var rsync              = document.getElementById("rsync");
var transfer           = document.getElementById("transfer");
var exampleString      = document.getElementById("exampleString");
var renameString       = document.getElementById("renameString");

//initialise constants for the file rename calc's:
var short_month = [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ];
var short_day = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
var today = new Date();
var pcY = today.getFullYear()
var pcm = ('0' + (today.getMonth()+1)).slice(-2)
var pcb = short_month[today.getMonth()]
var pcd = ('0' + (today.getDate())).slice(-2)
var pca = short_day[today.getDay()]
var pcH = ('0' + (today.getHours())).slice(-2)
var pcM = ('0' + (today.getMinutes())).slice(-2)
var pcS = ('0' + (today.getSeconds())).slice(-2)
var pcF = 'IMG_001.JPG'

document.getElementById("originalFileName").innerHTML = pcF

// This drives the default display on load:
ftp.style.display      = (method.value != "FTP" || copyDay.value == "Off") ? "none":"";
sftp.style.display     = (method.value != "SFTP" || copyDay.value == "Off") ? "none":"";
dbx.style.display      = (method.value != "Dropbox" || copyDay.value == "Off") ? "none":"";
google.style.display   = (method.value != "Google Drive" || copyDay.value == "Off") ? "none":"";
rsync.style.display    = (method.value != "rsync" || copyDay.value == "Off") ? "none":"";
transfer.style.display = (method.value == "Off" || copyDay.value == "Off") ? "none":"";
showHideCopyHour.style.display   = (copyDay.value == "Off" || "{{wakePiTime}}" != "25") ? "none":"";
showHideTrnHour.style.display    = (copyDay.value == "Off" || "{{wakePiTime}}" != "25") ? "none":"";
showHideCopyHrMsg.style.display  = (copyDay.value == "Off" || "{{wakePiTime}}" == "25") ? "none":"";
showHideRenameCbx.style.display  = (copyDay.value == "Off" || "{{wakePiTime}}" != "25") ? "none":"";
showHideTrnHrMsg.style.display   = (copyDay.value == "Off" || "{{wakePiTime}}" == "25") ? "none":"";
showHideTrnMethod.style.display  = (copyDay.value == "Off") ? "none":"";
showHideTrnWarning.style.display = (copyDay.value != "Off") ? "none":"";
showHideTrnButton.style.display  = (method.value == "Off" || copyDay.value == "Off") ? "none":"";

//Initialise the two text fields:
if (copyDay.value == "Daily")
{
	document.getElementById("copyHourMsg").innerHTML = "A copy takes place each day at {{wakePiTime}}:00 when the Pi starts."
}
else
{
	document.getElementById("copyHourMsg").innerHTML = "A copy takes place each " + copyDay.value + " at {{wakePiTime}}:00 when the Pi starts."
}
if (transferDay.value == "Daily")
{
	document.getElementById("transferHourMsg").innerHTML = "A transfer takes place each day at {{wakePiTime}}:00 when the Pi starts."
}
else
{
	document.getElementById("transferHourMsg").innerHTML = "A transfer takes place each " + transferDay.value + " at {{wakePiTime}}:00 when the Pi starts."
}

// Run when the form first loads:
lightButtons();
showHideRename();
updateExample();

function newSelected(id)
{
	var option = document.getElementById(id);
	// Reveal/hide fields as appropriate:
	if (id == "tfrMethod" || id == "copyDay")
	{
		ftp.style.display               = (method.value != "FTP"          || copyDay.value == "Off") ? "none":"";
		sftp.style.display              = (method.value != "SFTP"         || copyDay.value == "Off") ? "none":"";
		dbx.style.display               = (method.value != "Dropbox"      || copyDay.value == "Off") ? "none":"";
		google.style.display            = (method.value != "Google Drive" || copyDay.value == "Off") ? "none":"";
		rsync.style.display             = (method.value != "rsync"        || copyDay.value == "Off") ? "none":"";
		transfer.style.display          = (method.value == "Off"          || copyDay.value == "Off") ? "none":"";
		showHideTrnButton.style.display = (method.value == "Off"          || copyDay.value == "Off") ? "none":"";
	}
	if (id == "copyDay")
	{
		showHideCopyHour.style.display   = (copyDay.value == "Off" || "{{wakePiTime}}" != "25") ? "none":"";
		showHideTrnHour.style.display    = (copyDay.value == "Off" || "{{wakePiTime}}" != "25") ? "none":"";
		showHideCopyHrMsg.style.display  = (copyDay.value == "Off" || "{{wakePiTime}}" == "25") ? "none":"";
		showHideRenameCbx.style.display  = (copyDay.value == "Off" || "{{wakePiTime}}" != "25") ? "none":"";
		showHideTrnHrMsg.style.display   = (copyDay.value == "Off" || "{{wakePiTime}}" == "25") ? "none":"";
		showHideTrnWarning.style.display = (copyDay.value != "Off") ? "none":"";
		showHideTrnMethod.style.display  = (copyDay.value == "Off") ? "none":"";
		if (copyDay.value == "Daily")
		{
			document.getElementById("copyHourMsg").innerHTML = "A copy takes place each day at {{wakePiTime}}:00 when the Pi starts."
		}
		else
		{
			document.getElementById("copyHourMsg").innerHTML = "A copy takes place each " + copyDay.value + " at {{wakePiTime}}:00 when the Pi starts."
		}
	}
	
	if (id == "transferDay")
	{
		if (transferDay.value == "Daily")
		{
			document.getElementById("transferHourMsg").innerHTML = "A transfer takes place each day at {{wakePiTime}}:00 when the Pi starts."
		}
		else
		{
			document.getElementById("transferHourMsg").innerHTML = "A transfer takes place each " + transferDay.value + " at {{wakePiTime}}:00 when the Pi starts."
		}
	}

	if (!option.options[option.selectedIndex].defaultSelected)
	{
		SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
	}
	else
	{
		SelectionByte = SelectionByte ^ SelectionBits[id]; //XOR turns it off
	}
	lightButtons();
	showHideRename();
}

function newText(id)
{
	var option = document.getElementById(id);

	if (option.defaultValue != option.value)
	{
		SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
	}
	else
	{
		SelectionByte = SelectionByte ^ SelectionBits[id]; //XOR turns it off
	}
	lightButtons();
}

function lightButtons()
{
	if (SelectionByte == 0)
	{
		document.getElementById("apply").disabled  = true;
	}
	else
	{
		document.getElementById("apply").disabled  = false;
	}
}

//https://stackoverflow.com/questions/4907843/open-a-url-in-a-new-tab-and-not-a-new-window-using-javascript
function openInNewTab(url) {
  var win = window.open(url, '_blank');
  win.focus();
}

function updateRename(id)
{
	var option = document.getElementById(id);
	if (option.checked == true)
	{
		SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
	}
	else
	{
		SelectionByte = SelectionByte ^ SelectionBits[id]; //XOR turns it off
	}
	showHideRename()
	lightButtons();
}

function showHideRename()
{
	var showHide = (renameOnCopy.checked == false || copyDay.value == "Off") ? "none":"";
	rows = document.getElementsByName("showHideRename")
	for (i = 0; i < rows.length; i++)
	{
		rows[i].style.display = showHide;
	}
}

function updateExample()
{
	<!-- Does two things: validates the input is acceptable, and updates the example text field -->
	var tempString = renameString.value;
	var fileName = pcF.split('.')[0];
	var fileExt  = pcF.split('.')[1];
	
	//Strip any commas or spaces and update the field:
	tempString = tempString.replace(' ','')
	tempString = tempString.replace(',','')
	renameString.value = tempString;
	
	//Substitute values and update the example
	if (tempString === '')
	{
		tempString = pcF;
	}
	else
	{
		tempString = tempString.replace(/%F/g, pcF);
		tempString = tempString.replace(/%Y/g, pcY);
		tempString = tempString.replace(/%m/g, pcm);
		tempString = tempString.replace(/%b/g, pcb);
		tempString = tempString.replace(/%d/g, pcd);
		tempString = tempString.replace(/%a/g, pca);
		tempString = tempString.replace(/%H/g, pcH);
		tempString = tempString.replace(/%M/g, pcM);
		tempString = tempString.replace(/%S/g, pcS);
		tempString += '.' + fileExt;
	}
	exampleString.innerHTML = tempString;
}

</script>
{% endblock %}
