{% extends "index.html" %}
{% block content %}

<form method="post">
	<table>
		<tr>
			<th>Copy Settings - camera to Pi</th>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Copy day:</div>
				<div class="alignright">
					<select name="copyDay" id="copyDay" onchange="newSelected(this.id)">
					{% for day in ['Off', 'Daily', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
						<option value="{{ day }}"{% if day == copyDay %} SELECTED{% endif %}>{{ day }}</option>
					{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr id="showHideCopyHour">
			<td>
				<div class="alignleft">Copy hour:</div>
				<div class="alignright">
					<select name="copyHour" id="copyHour" onchange="newSelected(this.id)">
						{% for hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
							<option value="{{ hour }}"{% if hour == copyHour %} SELECTED{% endif %}>{{ hour }}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		{% if wakePiTime != '25' %}
		<tr>
			<td class="noborder">(A copy takes place each day at {{wakePiTime}}:00 when the Pi starts.)</td>
		</tr>
		{% endif %}
	</table>
	
	<table>
		<tr>
			<th>Transfer Settings - from the Pi</th>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Upload method:</div>
				<div class="alignright">
					<select name="tfrMethod" id="tfrMethod" onchange="newSelected(this.id)">
					{% for method in ['Off', 'FTP', 'SFTP', 'Dropbox'] %}
						<option value="{{ method }}"{% if method == tfrMethod %} SELECTED{% endif %}>{{ method }}</option>"
					{% endfor %}
					</select>
				</div>
			</td>
		</tr>
	</table>

	<table id="ftp">
		<tr>
			<td>
				<div class="alignleft">FTP server URL:</div>
				{% if ftpServer == '' %}
					<div class="alignright"><input type="text" name="ftpServer" id="ftpServer" value="ftp.somewhere.com" oninput="newText(this.id)"></div>
				{% else %}
					<div class="alignright"><input type="text" name="ftpServer" id="ftpServer" value="{{ ftpServer }}" oninput="newText(this.id)"></div>
				{% endif %}	
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Username:</div>
				{% if ftpUser == '' %}
					<div class="alignright"><input type="text" name="ftpUser" id="ftpUser" value="ftp_user" oninput="newText(this.id)"></div>
				{% else %}
					<div class="alignright"><input type="text" name="ftpUser" id="ftpUser" value="{{ ftpUser }}" oninput="newText(this.id)"></div>
				{% endif %}	
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Password:</div>
				{% if ftpPassword == '' %}
					<div class="alignright"><input type="password" name="ftpPassword" id="ftpPassword" value="" oninput="newText(this.id)"></div>
				{% else %}
					<div class="alignright"><input type="password" name="ftpPassword" id="ftpPassword" value="{{ ftpPassword }}" oninput="newText(this.id)"></div>
				{% endif %}	
			</td>
		</tr>
	</table>

	<table id="sftp">
		<tr>
			<td>
				<div class="alignleft">SFTP server URL:</div>
				{% if sftpServer == '' %}
					<div class="alignright"><input type="text" name="sftpServer" id="sftpServer" value="sftp.somewhere.com" oninput="newText(this.id)"></div>
				{% else %}
					<div class="alignright"><input type="text" name="sftpServer" id="sftpServer" value="{{ sftpServer }}" oninput="newText(this.id)"></div>
				{% endif %}	
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Username:</div>
				{% if sftpUser == '' %}
					<div class="alignright"><input type="text" name="sftpUser" id="sftpUser" value="sftp_user" oninput="newText(this.id)"></div>
				{% else %}
					<div class="alignright"><input type="text" name="sftpUser" id="sftpUser" value="{{ sftpUser }}" oninput="newText(this.id)"></div>
				{% endif %}	
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Password:</div>
				{% if sftpPassword == '' %}
					<div class="alignright"><input type="password" name="sftpPassword" id="sftpPassword" value="" oninput="newText(this.id)"></div>
				{% else %}
					<div class="alignright"><input type="password" name="sftpPassword" id="sftpPassword" value="{{ sftpPassword }}" oninput="newText(this.id)"></div>
				{% endif %}	
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Remote folder:</div>
				{% if sftpRemoteFolder == '' %}
					<div class="alignright"><input type="text" name="sftpRemoteFolder" id="sftpRemoteFolder" value="/images/" oninput="newText(this.id)"></div>
				{% else %}
					<div class="alignright"><input type="text" name="sftpRemoteFolder" id="sftpRemoteFolder" value="{{ sftpRemoteFolder }}" oninput="newText(this.id)"></div>
				{% endif %}	
			</td>
		</tr>
	</table>

	<table id="dbx">
		<tr>
			<td>
				<div class="alignleft">Token:</div>
				{% if dbx_token == '' %}
					<div class="alignright"><input type="text" name="dbx_token" id="dbx_token" value="abcd1234-wxyz789-etc" oninput="newText(this.id)"></div>
				{% else %}
					<div class="alignright"><input type="text" name="dbx_token" id="dbx_token" value="{{ dbx_token }}" oninput="newText(this.id)"></div>
				{% endif %}	
			</td>
		</tr>
	</table>

	<table id="transfer">
		<tr>
			<td>
				<div class="alignleft">Transfer day:</div>
				<div class="alignright">
					<select name="transferDay" id="transferDay" onchange="newSelected(this.id)">
					{% for day in ['Daily','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
						<option value="{{ day }}"{% if day == transferDay %} SELECTED{% endif %}>{{ day }}</option>
					{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="alignleft">Transfer hour:</div>
				<div class="alignright">
					<select name="transferHour" id="transferHour" onchange="newSelected(this.id)">
						{% for hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
							<option value="{{ hour }}"{% if hour == transferHour %} SELECTED{% endif %}>{{ hour }}</option>
						{% endfor %}
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td >
				<div class="alignleft">
					<button type="button" name="view" id="view" onClick="openInNewTab('{{ piTransferLogLink }}');">View log</button>
				</div>
				<div class="alignright">
					<button type="submit" name="tfrClear" id="tfrClear" onclick="tfrClear()">Clear log</button>
				</div>
			</td>
		</tr>
	</table>

	<table class="noborder">
		<tr>
			<td class="noborder">
				<div class="alignleft">
					<button type="button" name="copy" id="copy" onclick="copyNow()">Copy now</button>
				</div>
				<div class="alignright">
					<button type="submit" name="tfrApply" id="apply">Apply</button>
				</div>
			</td>
		</tr>
	</table>
</form>

<!-- Hidden form for the various "do something now" buttons, as you can't nest forms -->
<form style="display: none">
	<button type="submit" name="copyNow"  id="copyNow"  value="1">Copy Now</button>
	<button type="submit" name="clear" id="clear" value="1">Clear log</button>
</form>


<script>
var SelectionByte = 0;
var SelectionBits = new Array();
SelectionBits["tfrMethod"]        =     1;
SelectionBits["ftpServer"]        =     2;
SelectionBits["ftpUser"]          =     4;
SelectionBits["ftpPassword"]      =     8;
SelectionBits["sftpServer"]       =    16;
SelectionBits["sftpUser"]         =    32;
SelectionBits["sftpPassword"]     =    64;
SelectionBits["sftpRemoteFolder"] =   128;
SelectionBits["dbx_token"]        =   256;
SelectionBits["transferDay"]      =   512;
SelectionBits["transferHour"]     =  1024;
SelectionBits["copyDay"]          =  2048;
SelectionBits["copyHour"]         =  4096;

var method = document.getElementById("tfrMethod");
var copyDay = document.getElementById("copyDay");
var showHideCopyHour = document.getElementById("showHideCopyHour");
var ftp = document.getElementById("ftp");
var sftp = document.getElementById("sftp");
var dbx = document.getElementById("dbx");
var transfer = document.getElementById("transfer");

// This drives the default display on load:
ftp.style.display = (method.value != "FTP") ? "none":"";
sftp.style.display = (method.value != "SFTP") ? "none":"";
dbx.style.display = (method.value != "Dropbox") ? "none":"";
transfer.style.display = (method.value == "Off") ? "none":"";
showHideCopyHour.style.display = (copyDay.value == "Off") ? "none":"";

// Run when the form first loads:
lightButtons(); 

function copyNow()
{
	document.getElementById("copyNow").click();
}
function tfrClear()
{
	document.getElementById("tfrClear").click();
}


function newSelected(id)
{
	var option = document.getElementById(id);
	// Reveal/hide fields as appropriate:
	if (id == "tfrMethod")
	{
		ftp.style.display = (method.value != "FTP") ? "none":"";
		sftp.style.display = (method.value != "SFTP") ? "none":"";
		dbx.style.display = (method.value != "Dropbox") ? "none":"";
		transfer.style.display = (method.value == "Off") ? "none":"";
	}
	if (id == "copyDay")
	{
		showHideCopyHour.style.display = (copyDay.value == "Off") ? "none":"";
	}

	if (!option.options[option.selectedIndex].defaultSelected)
	{
		SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
	}
	else
	{
		SelectionByte = SelectionByte ^ SelectionBits[id]; //XOR turns it off
	}
	lightButtons();
}

function newText(id)
{
	var option = document.getElementById(id);

	if (option.defaultValue != option.value)
	{
		SelectionByte = SelectionByte | SelectionBits[id]; // Or turns the bit on
	}
	else
	{
		SelectionByte = SelectionByte ^ SelectionBits[id]; //XOR turns it off
	}
	lightButtons();
}

function lightButtons()
{
	if (SelectionByte == 0)
	{
		document.getElementById("apply").disabled  = true;
	}
	else
	{
		document.getElementById("apply").disabled  = false;
	}
}

//https://stackoverflow.com/questions/4907843/open-a-url-in-a-new-tab-and-not-a-new-window-using-javascript
function openInNewTab(url) {
  var win = window.open(url, '_blank');
  win.focus();
}

</script>
{% endblock %}
