# This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with this program.  If not, see
# <http://www.gnu.org/licenses/>.
#
# This script is part of the Intervalometerator project, a time-lapse camera controller for DSLRs:
# https://github.com/greiginsydney/Intervalometerator
# https://greiginsydney.com/intvlm8r
# https://intvlm8r.com

# Reference: https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-16-04

[Unit]
Description=piTransfer.service. Runs once on boot to copy images FROM the Pi
Requires=intvlm8r.service
After=intvlm8r.service setTime.service cameraTransfer.service

[Service]
#This means we don't run until the dust has settled and everything else - like Gunicorn - has started:
Type=oneshot
User=pi
Group=www-data
WorkingDirectory=/home/pi/www
Environment="PATH=/home/pi/www"
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 /home/pi/www/piTransfer.py bootup

[Install]
WantedBy=multi-user.target
